
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="code.js"></script>
    <title>Otae san detector</title>
  </head>
  <body>
    <br><br>
    <div class="jumbotron">
      <h1>Otae san detector</h1>
      <h3><b>Result</b>: {{ result }}</h3>
      <img src="{{ user_image }}" alt="{{ result }}" class="image">
      <br><br>
      <input type="text" name="" value="Detect another image" class="btn" onclick="location.href='index.html';">

    </div>





  </body>
</html>
